<body bgcolor="#CCCCFF">
<p>
  <strong>Role_name:</strong>
  <%= @u_role.role_name %>
</p>
 
 

 <%= link_to 'List roles', user_roles_path %>
<%= link_to 'Edit', edit_user_role_path(@state) %> 




</body>




