<body bgcolor="#CCCCFF">
<p>
  <strong>City name:</strong>
  <%= @city.city_name %>
</p>
 
 

 <%= link_to 'List City', city_index_path %>
<%= link_to 'Edit', edit_city_path(@city) %> 




</body>






