<body bgcolor="#CCCCFF">
<p>
  <strong>country name:</strong>
  <%= @country.country_name %>
</p>
 
 

 <%= link_to 'List country', countries_path %>
<%= link_to 'Edit', edit_country_path(@country) %> 




</body>






